@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #1A1A1A;
  color: #FFFFFF;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-thumb { background: #FF6A00; border-radius: 10px; }